@import "~bootstrap/scss/bootstrap";

.App {
    height: 100vh;
    box-sizing: border-box;
    background-color: #4A154B;

}

.chatroom-container {
    height: 100%;
    width: 1000px;
    margin-top: 1em;
    margin-bottom: 1em;

    width: 1200px;
    color:#FFFFFF;

    .sidebar .row {
        cursor: pointer;
    }

    .sidebar, .chat-panel {
        height: 100%;
        background-color: #4A154B;
        padding: 1.5em 1.5em 1.2em;
    }


    .channel-info {
        height: 50px;
        background-color: #4A154B;
        color:#FFFFFF;
    }

    .messages {
        border-radius: .4em;
        height: 70%;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word;
        background-color: #FFFFFF;
        color: black;
    }

    .text-box-container {
        height: 100px;
        
        .text-box {
            vertical-align: text-top;
            height: 100%;
        }
    }
}

.username-form-wrapper {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;

    .username-form {
        padding: 3em;
        border: 1px solid #EEEEEE;
        border-radius: .5em;
        height: 300px;
        width: 400px;
    }
}
