@import "~bootstrap/scss/bootstrap";

.App {
    height: 90vh;
    box-sizing: border-box;
}

.chatroom-container {
    height: 100%;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    .sidebar {
        .row {
            cursor: pointer;
        }
    }

    .sidebar, .chat-panel {
        height: 100%;
    }

    .channel-info {
        height: 50px;
    }

    .messages {
        height: 70%;
        overflow: auto;
    }

    .text-box-container {
        height: 100px;
        
        .text-box {
            vertical-align: text-top;
            height: 100%;
        }
    }
}

.wrapper {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .username-form {
        padding: 3em;
        border: 1px solid #EEEEEE;
        border-radius: .5em;
        height: 300px;
        width: 400px;
    }
}
